{% extends "objectives/base.html" %}
{% block page-input %}

{% endblock page-input %}

{% block page-output %}
    <div >
        <div class="calendar_main" id="calendar_header_year">
            <div class="calendar_header">
                <a href="/calendar/{{previous_year}}/{{month}}">
                    <
                </a>
            </div>
            
            <div class="calendar_header">
                {{year}}
            </div>
            
            <div class="calendar_header">
                <a href="/calendar/{{next_year}}/{{month}}">
                    >
                </a>
            </div>
        </div>
        
        <div class="calendar_main" id="calendar_header_month">
            <div class="calendar_header">
                <a href="/calendar/{{year}}/{{previous_month}}">
                    <
                </a>
            </div>
            <div class="calendar_header">
                {{month}}
            </div>
            <div class="calendar_header">
                <a href="/calendar/{{year}}/{{next_month}}">
                    >
                </a>
            </div>
        </div>
        
    </div>



    <div class="calendar">
        <table>
            <tr>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>

            
            {% for week in month_calendar%}
                <tr>
                    
                    {% for day in week%}
                    <td>
                        {% if day is not 0 %}
                        
                        {{day}}
                        {% else %}
                            *    
                        {% endif %}
                    </td>
                        {% endfor %}
                        <br>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock page-output %}