{% extends "objectives/base.html" %}

{% block page-input %}
{% endblock page-input %}

{% block page-output %}
<div id="individual_task_category" class="category">
    <h2>Individual Tasks</h2>
        {% if individual_tasks %}
                {% for task in individual_tasks  %}
                    <label class="task">
                        <form method="post" action="/change_status/{{task.uuid}}/">
                            {% csrf_token %}

                                    {% if task.status %}
                                        <input type="checkbox" name="status" onchange="this.form.submit()" checked>
                                        {{task.name}}
                                    {% else %}
                                        <input type="checkbox" name="status" onchange="this.form.submit()" >
                                        {{task.name}}
                                    {% endif %}

                        </form>
                        
                            <div>

                                <a href="/edit_task/{{task.uuid}}/">
                                    <button class="icon_button">
                                        🖋️
                                    </button>
                                </a>
                                <a href="/delete_task/{{task.uuid}}/">
                                    <button class="icon_button">
                                        🗑️
                                    </button>
                                </a>
                            </div>
                    </label>
                            
                        
                    
                {% endfor %}

        {% endif %}

                <a href="/task_creation/{{category.category.uuid}}">
                    <button>
                        ➕ new task
                    </button>
                </a>
    </div>
    {% if categorized_tasks %}
            {% for category in categorized_tasks %}
                <div class="category">
                    <div class="task">
                        <h2>{{category.category}}</h2>

                        <a href="/delete_category/{{category.category.uuid}}/">
                            <button class="icon_button">
                                🗑️
                            </button>
                        </a>                    
                    </div>
                    
                    {% if category.tasks != None %}
                        {% for task in category.tasks %}
                        <label class="task">
                            
                                <form method="post" action="/change_status/{{task.uuid}}/">
                                        {% csrf_token %}
                                        {% if task.status %}
                                        <input type="checkbox" onchange="this.form.submit()" checked>
                                        {{task.name}}
                                        {% else %}      
                                        <input type="checkbox" onchange="this.form.submit()">
                                        {{task.name}}
                                        {% endif %}
                                </form> 
                                
                                <div>
                                    
                                    <a href="/edit_task/{{task.uuid}}/">
                                        <button class="icon_button">
                                            🖋️
                                        </button>
                                    </a>
                                    <a href="/delete_task/{{task.uuid}}/">
                                        <button class="icon_button">
                                            🗑️
                                        </button>
                                    </a>
                                </div>                                    
                            </label>

                        {% endfor %}

                    {% endif %}
                    
                    <a href="/task_creation/{{category.category.uuid}}">
                        <button>
                            ➕ new task
                        </button>
                    </a>
                </div>    
            {% endfor %}
    {% endif %}
{% endblock page-output %}